.sectionServices {
  min-height: 100dvh;
}

.contentServices {
  max-width: 1440px;
  margin: 0 auto;
}

.titleServices {
  font-weight: 300;
  color: #A5A5A5;
  text-align: left;
  font-size: 0.9em;
}

.cardWrapper {
  margin: 3em auto;
  max-width: 1096px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: .7em;
}

.cardDark {
  background-color: #1F1F1F;
  display: flex;
}

.cardContentDark {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: start;
  row-gap: 1em;
  padding: 1.5em;
}

.cardTitleDark h2 {
  color: white;
  font-size: clamp(28px, 4vw, 32px);
  font-weight: 400;
}
  
.cardLinkDark {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 50%;
  line-height: 0;
  cursor: pointer;
}

.cardLight {
  background-color: white;
  line-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContentLight {
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
  padding: 1.5em; 
  row-gap: 1em;
}

.cardTitleLight h2 {
  color: #000;
  line-height: 125%;
  font-size: clamp(28px, 4vw, 32px);
  font-weight: 400;
}

.cardDescriptionLight p {
  color: #000;
  line-height: 145%;
  font-size: clamp(12px, 4vw, 14px);
  font-weight: 400;
}

.cardLinkLight {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  line-height: 0;
  cursor: pointer;
}

.cardkLightImg img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .contentServices{
    padding: 0 2em;
  }
  
  .cardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cardWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
