.defaultContainer {
    background-color: #000;
    color: #ffffff;
    height: 90dvh;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.defaultContainer > header {
    margin-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}

.defaultContainer > header > h1 {
    font-weight: 300;
    color: #A5A5A5;
    text-align: left;
    font-size: 0.9em;
}