.cardContainer {
    background-color: #fff;
    max-width: 335px;
    height: 362px;
}

.cardTitle {
    color: #000;
    font-size: 1em;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
}

.cardContent {
    padding: 8px;
    color: #707070;
    line-height: 140%;
}