.cardContainer {
    background-color: #fff;
    max-width: 335px;
    height: 362px;
}

.cardContainer > div.cardImage {
    width: 100%;
    height: 180px;
    background-size: 100%;
    background-position: top;
    background-image: url('./blog-image-2.jpg');
}

.cardTitle {
    color: #000;
    font-size: 1em;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
}

.cardContent {
    padding: 8px;
    color: #707070;
    line-height: 140%;
}