.cardContainer {
    background-color: #fff;
    max-width: 335px;
    cursor: pointer;
    height: 362px;
}

.cardTitle {
    color: #000;
    font-size: 1em;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
}

.cardContent {
    padding: 8px;
    color: #707070;
    line-height: 140%;
}

@media (max-width: 320px) {
    .cardContainer {
        width: 250px;
    }

    .cardTitle {
        font-size: 0.7em;
    }

    .cardContent {
        font-size: 0.8em;
    }
}