.blogContainer {
    margin: auto;
    width: 670px;
    height: 370px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.blogContainer > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.blogContainer > div.blogSubContent {
    width: 335px;
    display: flex;
    margin-left: 5px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}

.blogContainer > div.blogSubContent > div {
    position: relative;
    background-position: center;
    background-image: url('./blog-image-1.jpg');
}

.blogSubContentBg {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.042), rgba(255, 255, 255, 0.256), #fff);
}

.blogSubContentTitle {
    bottom: 0;
    width: 100%;
    color: #000;
    font-size: 0.9em;
    font-weight: 500;
    position: absolute;
    padding: 0 10px 10px 10px;
}