@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000;
}

.preContactContainer {
  height: 50vh !important;
}

.preContactContainer > Button {
  margin-top: 30px;
}

.preContactText {
  font-size: 2em;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}

.cardImage {
  width: 100%;
  height: 180px;
  background-size: 100%;
  background-position: top;
  background-image: url('./blog-image-2.jpg');
}

.container_1440 {
  max-width: 1024px;
  padding: 0 2rem;
  margin: 0 auto;
}

.globalvoices_image {
  width: 880px;
  height: 530px;
}

@media (max-width: 960px) {
  .globalvoices_image {
    width: 700px;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .globalvoices_image {
    width: 400px;
    height: 250px;
  }

  .preContactText {
    font-size: 1.9em;
  }
}

@media (max-width: 320px) {
  .globalvoices_image {
    width: 300px;
    height: 180px;
  }

  .preContactText {
    font-size: 1.1em;
  }
}