@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000;
}

.container_1440 {
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;
}

.globalvoices_image {
  width: 1024px;
  height: 600px;
}

@media (max-width: 960px) {
  .globalvoices_image {
    width: 700px;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .globalvoices_image {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 320px) {
  .globalvoices_image {
    width: 300px;
    height: 180px;
  }
}